<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CostErrDeal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BMS" value="server=10.134.97.38,3000;user id=prd_bmscost;password=prd_bmscost911;database=bmscldcost" />
    <add key="KF" value="server=10.134.97.29,3000;user id=daniel;password=daniel123;database=bmscldcost" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <CostErrDeal.Properties.Settings>
      <setting name="CostErrDeal_AccountService_AccountService" serializeAs="String">
        <value>http://lcesign.efoxconn.com/CostAccountWS/MainService.asmx</value>
      </setting>
      <setting name="EsignKit_DBInfoWS_Service1" serializeAs="String">
        <value>http://10.130.14.103/ZYWuliu4TiptopJiebao/Service1.asmx</value>
      </setting>
    </CostErrDeal.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v1.1.4322" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>